<v-dialog v-model="contactDetail" width="400px" transition="dialog-bottom-transition">
    <v-card>
        <v-card-media :src="contact.picture" height="250px">
            <v-layout column class="media">
                <v-card-title>
                    <v-btn dark icon @click.native="contactDetail = false">
                        <v-icon>clear</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn dark icon class="mr-3">
                        <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn dark icon>
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-title class="white--text pl-5 pt-5">
                    <div class="display-1 pl-4 pt-5">{{contact.name.first + ' ' + contact.name.last }}</div>
                </v-card-title>
            </v-layout>
        </v-card-media>
        <v-list two-line>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon color="indigo">phone</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{contact.phone}}</v-list-tile-title>
                    <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-icon>chat</v-icon>
                </v-list-tile-action>
            </v-list-tile>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon color="indigo">mail</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{contact.email}}</v-list-tile-title>
                    <v-list-tile-sub-title>Personal</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider inset></v-divider>

            <v-list-tile @click="">
                <v-list-tile-action></v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{contact.company}}</v-list-tile-title>
                    <v-list-tile-sub-title>Company</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="">
                <v-list-tile-action></v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{contact.jobTitle}}</v-list-tile-title>
                    <v-list-tile-sub-title>Job Title</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider inset></v-divider>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon color="indigo">location_on</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>1400 Main Street</v-list-tile-title>
                    <v-list-tile-sub-title>Orlando, FL 79938</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <!-- <v-list-tile @click="">
                    <v-list-tile-action>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{contact.notes}}</v-list-tile-title>
                        <v-list-tile-sub-title>Biography</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile> -->
        </v-list>
    </v-card>
</v-dialog>